<header>
    <span>
        <figure>
            <img src="https://logos.prorealtime.com/mercadolibre-inc-logo-3a48.svg" alt="logo">
        </figure>
        <div class="secciondos">
            <div class="input-group">
                <input type="text" class="form-control py-3 fs-6" placeholder="Buscar productos, marcas y mas..." aria-label="Buscar">
                <button class="btn border border-grey bg-white py-3 px-3 fs-6" type="button">
                <i class="bi bi-search"></i> 
                </button>
            </div>
        </div>
        <div class="secciontres">
            <i class="bi bi-truck-flatbed"></i>
            <h3 class="envio">¡Envío Express</h3><h3 class="fw-bolder">en menos de 2 horas!</h3>
        </div>
    </span>
    <nav>
        <ul class="primero">
            <li class="d-flex align-items-center gap-1">Categorías<i class="bi bi-chevron-down"></i></li>
        </ul>
        <ul class="segundo">
            <li>Historial</li>
            <li>Tiendas oficiales</li>
            <li>Ofertas de la semana</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul class="tercero">
            <li class="d-flex align-items-center gap-1"><i class="bi bi-person-circle" style="color: transparent !important; -webkit-text-stroke: 1px #6d6d6d; font-size: 1.5rem;"></i>carlyn<i class="bi bi-chevron-down"></i></li>
            <li>Mis compras</li>
            <li class="d-flex align-items-center gap-1">Favoritos<i class="bi bi-chevron-down"></i></li>
            <li><i class="bi bi-bell"></i></li>
        </ul>
    </nav>

</header>